In [1]:
! pip install scikit-surprise

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-surprise in c:\users\sobii\appdata\roaming\python\python38\site-packages (1.1.1)
Requirement already satisfied: numpy>=1.11.2 in c:\users\sobii\appdata\roaming\python\python38\site-packages (from scikit-surprise) (1.19.4)
Requirement already satisfied: six>=1.10.0 in c:\users\sobii\appdata\roaming\python\python38\site-packages (from scikit-surprise) (1.15.0)
Requirement already satisfied: scipy>=1.0.0 in c:\users\sobii\appdata\roaming\python\python38\site-packages (from scikit-surprise) (1.5.4)
Requirement already satisfied: joblib>=0.11 in c:\users\sobii\appdata\roaming\python\python38\site-packages (from scikit-surprise) (0.17.0)

In [28]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import pairwise_distances
from surprise import KNNWithMeans
from sklearn import model_selection
from tempfile import mkdtemp
import os.path as path
import warnings

warnings.filterwarnings("ignore")

### Reading datasets

In [3]:
ratings = pd.read_csv('BX-CSV-Dump/BX-Book-Ratings.csv', sep=';', error_bad_lines=False, encoding='latin-1').loc[:50000,:]
items = pd.read_csv('BX-CSV-Dump/BX-Books.csv', sep=';', error_bad_lines=False, encoding='latin-1')
users = pd.read_csv('BX-CSV-Dump/BX-Users.csv', sep=';', error_bad_lines=False, encoding='latin-1')

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'

In [4]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [5]:
items.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [6]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [7]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50001 entries, 0 to 50000
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   User-ID      50001 non-null  int64
 1   ISBN         50001 non-null  object
 2   Book-Rating  50001 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.1+ MB

In [8]:
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271359 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [9]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [10]:
n_users = ratings['User-ID'].unique().shape[0]
n_items = ratings['ISBN'].unique().shape[0]

n_items

36283

In [11]:
# similarity_matrix = np.zeros((n_users, n_items), dtype='uint8')
# for line in ratings.itertuples():
# #     similarity_matrix[line[2] - 1, line[3] - 1] = line[4]
    
#     print(line)
    
# similarity_matrix

In [12]:
# similarity_options = {
#     "name": "cosine",
#     "user_based": False,  # Compute  similarities between items
# }
# algo = KNNWithMeans(sim_options=similarity_options)

In [13]:
# algo.fit(trainset=ratings)

In [14]:
train_data, test_data = model_selection.train_test_split(ratings, test_size=0.20)

In [15]:
u_unique_train = train_data['User-ID'].unique()
train_data_user2idx = {o:i for i, o in enumerate(u_unique_train)}
b_unique_train = train_data['ISBN'].unique()
train_data_book2idx = {o:i for i, o in enumerate(b_unique_train)}

In [16]:
u_unique_test = test_data['User-ID'].unique()
test_data_user2idx = {o:i for i, o in enumerate(u_unique_test)}
b_unique_test = test_data['ISBN'].unique()
test_data_book2idx = {o:i for i, o in enumerate(b_unique_test)}

In [17]:
train_data['u_unique'] = train_data['User-ID'].map(train_data_user2idx)
train_data['b_unique'] = train_data['ISBN'].map(train_data_book2idx)

In [18]:
test_data['u_unique'] = test_data['User-ID'].map(test_data_user2idx)
test_data['b_unique'] = test_data['ISBN'].map(test_data_book2idx)

In [19]:
train_data = train_data[['u_unique', 'b_unique', 'Book-Rating']]
test_data = test_data[['u_unique', 'b_unique', 'Book-Rating']]

In [20]:
train_data.tail()

       u_unique  b_unique  Book-Rating
29584      1911     12306            8
11805       218      6117           10
2613        164     30076            0
4403         20     30077            0
29978       163     30078            9

In [21]:
n_users = train_data['u_unique'].nunique()
n_books = train_data['b_unique'].nunique()

In [22]:
train_matrix = np.zeros((n_users, n_books))
train_matrix

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [23]:
for entry in train_data.itertuples():
    train_matrix[entry[1]-1, entry[2]-1] = entry[3]

In [24]:
n_users = test_data['u_unique'].nunique()
n_books = test_data['b_unique'].nunique()

test_matrix = np.zeros((n_users, n_books))

for entry in test_data.itertuples():
    test_matrix[entry[1]-1, entry[2]-1] = entry[3]

In [29]:
train_matrix_small = train_matrix[:10000, :10000]
test_matrix_small = test_matrix[:10000, :10000]

user_similarity = pairwise_distances(train_matrix_small, metric='cosine')
item_similarity = pairwise_distances(train_matrix_small.T, metric='cosine')

In [30]:
def predict(ratings, similarity, type='user'): # default type is 'user'
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1)
        # Use np.newaxis so that mean_user_rating has the same format as ratings
        ratings_diff = (ratings - mean_user_rating[:, np.newaxis])
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'item':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])
    return pred

In [31]:
item_prediction = predict(train_matrix_small, item_similarity, type='item')
user_prediction = predict(train_matrix_small, user_similarity, type='user')

In [37]:
item_prediction.shape

(4478, 10000)

In [38]:
train_matrix_small.dot(item_similarity).shape

(4478, 10000)

In [41]:
train_matrix_small.shape

(4478, 10000)

In [40]:
item_similarity.shape

(10000, 10000)