<div style="direction:rtl; font-size:12px">به نام خدا</div>
<div style="direction:rtl; font-size:12px">گروه 8 : آرمین افتخاری - محمد سلیمان بهزاد - محمدرضا پوررضا - رضا برزگر طرقبه - سبحان مرادیان دقیق</div>
<div style="direction:rtl"> در این بخش با استفاده از الگوریتم KNN که یک کلاسیفایر رایج در مبحث ماشین لرنینگ می باشد استفاده کرده ایم. با استفاده از این الگوریتم می توانیم داده های train خود را کلاستر بندی کنیم. سپس مدلی ترین کنیم و با استفاده از آن به ازای هر داده تست، یک همسایگی 10 تایی از شبیه ترین داده ها را پیدا می کنیم. توضیحات بیشتر و جزئی تر در داکیومنت و خلال کد ها داده شده است.</div>

### Implementation of KNN

In [1]:
import pandas as pd
import numpy as np
from sklearn.neighbors import NearestNeighbors , KNeighborsClassifier
from scipy.sparse import csr_matrix
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import pickle
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

### Reading the dataset which was preprocessed

In [2]:
book_ratings = pd.read_csv('preprocessed_ratings.csv')

In [3]:
book_ratings.head()

,User_ID,ISBN,Book_Rating,Book_Title,Book-Author,Year_Of_Publication,Publisher,Location,Age
0,53,451,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,"strafford, missouri, usa",34.0
1,53,280,0,The Lovely Bones: A Novel,Alice Sebold,2002,"Little, Brown","strafford, missouri, usa",34.0
2,53,647,0,The Da Vinci Code,Dan Brown,2003,Doubleday,"strafford, missouri, usa",34.0
3,53,2028,0,Wild Animus,Rich Shapero,2004,Too Far,"strafford, missouri, usa",34.0
4,53,241,0,Four To Score (A Stephanie Plum Novel),Janet Evanovich,1999,St. Martin's Paperbacks,"strafford, missouri, usa",34.0

In [4]:
books = book_ratings.filter(['Book_Title' , 'Book-Author','Publisher']).copy()
books = books.drop_duplicates(subset='Book_Title', keep='first')

### Make ratings matrix

In [5]:
# dataset_pivot = book_ratings.pivot(index='ISBN', columns='User_ID', values='Book_Rating').fillna(0)

In [6]:
# sim_matrix = csr_matrix(dataset_pivot.values)

In [7]:
 with open('sim_matrix', 'rb') as fp:
    sim_matrix = pickle.load(fp)

In [8]:
# sum_of_squared_distances = []
# K = range(1,100)

# for k in K:
#     km = KMeans(n_clusters=k, max_iter=5, n_init=10)
#     km = km.fit(sim_matrix)
#     sum_of_squared_distances.append(km.inertia_)

# plt.plot(K, sum_of_squared_distances, 'bx-')
# plt.xlabel('k')
# plt.ylabel('sum_of_squared_distances')
# plt.title('Elbow Method For Optimal k')
# plt.show()

In [9]:
true_k = 7
model = KMeans(n_clusters=true_k, init='k-means++', max_iter=100, n_init=50)
model.fit(sim_matrix)
labels=model.labels_
books['label'] = labels

In [10]:
groups = books.groupby(by=['label'])
groups.first()

,Book_Title,Book-Author,Publisher
label,,,
0,Flesh Tones: A Novel,M. J. Rose,Ballantine Books
1,The Lovely Bones: A Novel,Alice Sebold,"Little, Brown"
2,The Green Mile,Stephen King,Pocket
3,I'll Be Seeing You,Mary Higgins Clark,Pocket
4,Tara Road,Maeve Binchy,Dell Publishing Company
5,Roses Are Red (Alex Cross Novels),James Patterson,Warner Vision
6,Q Is for Quarry,Sue Grafton,Putnam Publishing Group

In [11]:
for label, pdf in groups:
    print("\n\nlabel: ", label, "    counts: ", len(pdf))
    print("book title: ", pdf['Book_Title'], "    book author: ",pdf['Book-Author'] ,  "    book publisher: ",pdf['Publisher'] )

label:  0     counts:  311
book title:  0                                     Flesh Tones: A Novel
19           The Dress Lodger (Ballantine Reader's Circle)
62       Big Stone Gap: A Novel (Ballantine Reader's Ci...
69                                             The Surgeon
71                                         The Murder Book
                               ...
10726                                        The Straw Men
11256                             Secret History : A Novel
12339     The Main Corpse (Culinary Mysteries (Paperback))
13226        The Orchid Thief (Ballantine Reader's Circle)
20246                                             Creature
Name: Book_Title, Length: 311, dtype: object     book author:  0                 M. J. Rose
19              Sheri Holman
62          Adriana Trigiani
69            TESS GERRITSEN
71        JONATHAN KELLERMAN
                ...
10726       Michael Marshall
11256            DONNA TARTT
12339    Diane Mott Davidson
13226           Susan Orlean
20246              John Saul
Name: Book-Author, Length: 311, dtype: object     book publisher:  0        Ballantine Books
19       Ballantine Books
62       Ballantine Books
69       Ballantine Books
71       Ballantine Books
               ...
10726          Jove Books
11256    Ballantine Books
12339        Bantam Books
13226    Ballantine Books
20246        Bantam Books
Name: Publisher, Length: 311, dtype: object


label:  1     counts:  1134
book title:  1                      The Lovely Bones: A Novel
2                              The Da Vinci Code
3                                    Wild Animus
4         Four To Score (A Stephanie Plum Novel)
7          The Sweet Potato Queens' Book of Love
                          ...
19108                      October Sky: A Memoir
19416                            Childhood's End
20958            Behind the Scenes at the Museum
29271       Wuthering Heights (Penguin Classics)
44170    Northern Lights (His Dark Materials S.)
Name: Book_Title, Length: 1134, dtype: object     book author:  1              Alice Sebold
2                 Dan Brown
3              Rich Shapero
4           Janet Evanovich
7        JILL CONNER BROWNE
                ...
19108          Homer Hickam
19416      Arthur C. Clarke
20958         Kate Atkinson
29271          Emily Bronte
44170        Philip Pullman
Name: Book-Author, Length: 1134, dtype: object     book publisher:  1                  Little, Brown
2                      Doubleday
3                        Too Far
4        St. Martin's Paperbacks
7             Three Rivers Press
                  ...
19108                       Dell
19416              Del Rey Books
20958                 Black Swan
29271                Penguin USA
44170           Scholastic Point
Name: Publisher, Length: 1134, dtype: object


label:  2     counts:  98
book title:  70                             The Green Mile
72                             Atlas Shrugged
83      Everything's Eventual : 14 Dark Tales
87                      She Walks These Hills
96               The Ballad of Frankie Silver
                        ...
7522                            The Dark Half
7908                      The Rosewood Casket
8765               Different Seasons (Signet)
9091                              The Hearing
9542                            Sleep No More
Name: Book_Title, Length: 98, dtype: object     book author:  70        Stephen King
72            Ayn Rand
83        Stephen King
87      Sharyn McCrumb
96      Sharyn McCrumb
             ...
7522      Stephen King
7908    Sharyn McCrumb
8765      Stephen King
9091    John Lescroart
9542         Greg Iles
Name: Book-Author, Length: 98, dtype: object     book publisher:  70           Pocket
72      Signet Book
83         Scribner
87      Signet Book
96      Signet Book
           ...
7522    Signet Book
7908    Signet Book
8765    Signet Book
9091    Signet Book
9542    Signet Book
Name: Publisher, Length: 98, dtype: object


label:  3     counts:  34
book title:  282                                     I'll Be Seeing You
303                                       We'll Meet Again
344                                   Weep No More My Lady
348                             While My Pretty One Sleeps
349                                 The Anastasia Syndrome
371               All Through the Night (Holiday Classics)
403                            Loves Music, Loves to Dance
404                                  Moonlight Becomes You
436                              Pretend You Don't See Her
437                                  Before I Say Good-Bye
489                                       You Belong To Me
607                                Where Are the Children?
736                                    All Around the Town
778             He Sees You When You're Sleeping : A Novel
891                                    Daddy's Little Girl
903                       The Second Time Around : A Novel
1102                                    A Cry In The Night
1178        The Lottery Winner : Alvirah And Willy Stories
1267                          On the Street Where You Live
1724                       Before I Say Good-Bye : A Novel
1754                            Let Me Call You Sweetheart
1757                                           Remember Me
1787                                         My Gal Sunday
1826                                            Stillwatch
1853             Silent Night : A Christmas Suspense Story
1854         The Lottery Winner: Alvirah and Willy Stories
1861                                  The Cradle Will Fall
1896                     Deck the Halls (Holiday Classics)
2727                                 MOONLIGHT BECOMES YOU
3430                                  Stranger Is Watching
3601                On the Street Where You Live : A Novel
4301                                      YOU BELONG TO ME
8115     SILENT NIGHT : The Story of the World War I Ch...
11248                                  CRY IN THE NIGHT, A
Name: Book_Title, dtype: object     book author:  282       Mary Higgins Clark
303       Mary Higgins Clark
344       Mary Higgins Clark
348       Mary Higgins Clark
349       Mary Higgins Clark
371       Mary Higgins Clark
403       Mary Higgins Clark
404       Mary Higgins Clark
436       Mary Higgins Clark
437       Mary Higgins Clark
489       Mary Higgins Clark
607       Mary Higgins Clark
736       Mary Higgins Clark
778      Carol Higgins Clark
891       Mary Higgins Clark
903       Mary Higgins Clark
1102      Mary Higgins Clark
1178      Mary Higgins Clark
1267      Mary Higgins Clark
1724      Mary Higgins Clark
1754      Mary Higgins Clark
1757      Mary Higgins Clark
1787      Mary Higgins Clark
1826      MARY HIGGINS CLARK
1853      Mary Higgins Clark
1854      Mary Higgins Clark
1861      Mary Higgins Clark
1896      Mary Higgins Clark
2727      Mary Higgins Clark
3430      Mary Higgins Clark
3601      Mary Higgins Clark
4301      Mary Higgins Clark
8115      Mary Higgins Clark
11248     MARY HIGGINS CLARK
Name: Book-Author, dtype: object     book publisher:  282                    Pocket
303                    Pocket
344                      Dell
348                    Pocket
349                    Pocket
371                    Pocket
403                    Pocket
404                    Pocket
436                    Pocket
437                    Pocket
489              Pocket Books
607                    Pocket
736               Pocket Star
778                    Pocket
891      Simon &amp; Schuster
903      Simon &amp; Schuster
1102                   Pocket
1178                   Pocket
1267                   Pocket
1724     Simon &amp; Schuster
1754                   Pocket
1757                   Pocket
1787                   Pocket
1826                     Dell
1853                   Pocket
1854     Simon &amp; Schuster
1861                   Pocket
1896                   Pocket
2727     Simon &amp; Schuster
3430                   Pocket
3601     Simon &amp; Schuster
4301     Simon &amp; Schuster
8115     Simon &amp; Schuster
11248                    Dell
Name: Publisher, dtype: object


label:  4     counts:  66
book title:  127              Tara Road
153     The Long Road Home
192            The Chamber
199            The Summons
252         Guardian Angel
               ...
2286              The Kiss
3671          Looking Back
3832     Writ of Execution
4028        Fortune's Hand
7931         Warning Signs
Name: Book_Title, Length: 66, dtype: object     book author:  127            Maeve Binchy
153          Danielle Steel
192            John Grisham
199            John Grisham
252           Sara Paretsky
               ...
2286         Danielle Steel
3671            Belva Plain
3832    Perri O'Shaughnessy
4028            Belva Plain
7931          Stephen White
Name: Book-Author, Length: 66, dtype: object     book publisher:  127     Dell Publishing Company
153     Dell Publishing Company
192     Dell Publishing Company
199     Dell Publishing Company
252     Dell Publishing Company
                 ...
2286    Dell Publishing Company
3671    Dell Publishing Company
3832    Dell Publishing Company
4028    Dell Publishing Company
7931    Dell Publishing Company
Name: Publisher, Length: 66, dtype: object


label:  5     counts:  132
book title:  5                        Roses Are Red (Alex Cross Novels)
6                                         Violets Are Blue
11                                     1st to Die: A Novel
17                                              The Jester
25                                              2nd Chance
                               ...
6547     Scarlett: The Sequel to Margaret Mitchell's Go...
8222                                               Find Me
9250                                      See How They Run
12626                                  The Best Laid Plans
14026                               The Celestine Prophecy
Name: Book_Title, Length: 132, dtype: object     book author:  5         James Patterson
6         James Patterson
11        James Patterson
17        James Patterson
25        James Patterson
               ...
6547     Alexandra Ripley
8222      Rosie O'Donnell
9250      James Patterson
12626      Sidney Sheldon
14026      James Redfield
Name: Book-Author, Length: 132, dtype: object     book publisher:  5           Warner Vision
6           Warner Vision
11          Warner Vision
17          Little, Brown
25          Warner Vision
               ...
6547     Warner Books Inc
8222         Warner Books
9250         Warner Books
12626        Warner Books
14026        Warner Books
Name: Publisher, Length: 132, dtype: object


label:  6     counts:  138
book title:  79                                         Q Is for Quarry
132                                            Turtle Moon
141                                          Here on Earth
169      Ruthless.Com (Tom Clancy's Power Plays (Paperb...
175                                              Lightning
                               ...
5593                                              Darkfall
6539                                         Debt of Honor
7742                                            Blood Lure
8592                                      The Empress File
15250          Cybernation (Tom Clancy's Net Force, No. 6)
Name: Book_Title, Length: 138, dtype: object     book author:  79          Sue Grafton
132       Alice Hoffman
141       Alice Hoffman
169          Tom Clancy
175      Dean R. Koontz
              ...
5593     Dean R. Koontz
6539         Tom Clancy
7742        Nevada Barr
8592      John Sandford
15250       Steve Perry
Name: Book-Author, Length: 138, dtype: object     book publisher:  79        Putnam Publishing Group
132      Berkley Publishing Group
141      Berkley Publishing Group
169      Berkley Publishing Group
175      Berkley Publishing Group
                   ...
5593     Berkley Publishing Group
6539      Putnam Publishing Group
7742     Berkley Publishing Group
8592     Berkley Publishing Group
15250    Berkley Publishing Group
Name: Publisher, Length: 138, dtype: object

### Split the dataset into train and test

In [12]:
train_data, test_data = train_test_split(books, test_size=0.20)
train_X = train_data.drop(['label'],axis=1)
train_Y = train_data['label']

test_X = test_data.drop(['label'],axis=1)
test_Y = test_data['label']

In [13]:
encoder = LabelEncoder()
for col in train_X.columns :
    train_X[col] = encoder.fit_transform(train_X[col])
    
for col in test_X.columns :
    test_X[col] = encoder.fit_transform(test_X[col])

### Make ratings matrix

In [14]:
# train_data_pivot = train_data.pivot(index='ISBN', columns='User_ID', values='Book_Rating').fillna(0)

### Fill in the columns which ignored in the ratings matrix, in order to have the same dimensionality with original matrix

In [15]:
# diff_cols_train = list(set(range(2954)) - set(train_data_pivot.columns))
# for user in diff_cols_train:
#     train_data_pivot[str(user)] = 0

In [16]:
# train_data_matrix = csr_matrix(train_data_pivot.values)

### Do the same for test dataset

In [17]:
# test_data_pivot = test_data.pivot(index='ISBN', columns='User_ID', values='Book_Rating').fillna(0)

In [18]:
# diff_cols_test = list(set(range(2954)) - set(test_data_pivot.columns))
# for user in diff_cols_test:
#     test_data_pivot[str(user)] = 0

### Make a KNN model and fit it

In [19]:

# knn = NearestNeighbors(metric='cosine', algorithm='brute')
# knn.fit(train_data_matrix)

In [25]:
knn = KNeighborsClassifier(n_neighbors=20)
knn.fit(train_X, train_Y)
predict = knn.predict(test_X)
accuracy_score(test_Y, predict)

0.597911227154047

### Ok, now try to make recommendations for an input row of test dataset

In [21]:
query_index = 37 # For examle
distance, indices = knn.kneighbors(test_data_pivot.iloc[query_index, :].values.reshape(1, -1), n_neighbors= 11)

for i in range(len(distance.flatten())):
    if i == 0:
        print("Recommendation for {0}:\n".format(book_ratings[book_ratings['ISBN'] == train_data_pivot.index[query_index]]['Book_Title'].unique()))
    else:
        print("{0}: {1}".format(i, book_ratings[book_ratings['ISBN'] == train_data_pivot.index[indices.flatten()[i]]]['Book_Title'].unique()))

NameError: name 'test_data_pivot' is not defined