In [1]:
import pandas as pd
import numpy as np
from sklearn.neighbors import NearestNeighbors
from scipy.sparse import csr_matrix
from sklearn.model_selection import train_test_split

### KNN Model

In [2]:
book_ratings = pd.read_csv('preprocessed_ratings.csv')

In [3]:
book_ratings.head()

,User_ID,ISBN,Book_Rating,Book_Title,Book_Author,Year_Of_Publication,Publisher,Location,Age
0,53,451,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,"strafford, missouri, usa",34.0
1,53,280,0,The Lovely Bones: A Novel,Alice Sebold,2002,"Little, Brown","strafford, missouri, usa",34.0
2,53,647,0,The Da Vinci Code,Dan Brown,2003,Doubleday,"strafford, missouri, usa",34.0
3,53,2028,0,Wild Animus,Rich Shapero,2004,Too Far,"strafford, missouri, usa",34.0
4,53,241,0,Four To Score (A Stephanie Plum Novel),Janet Evanovich,1999,St. Martin's Paperbacks,"strafford, missouri, usa",34.0

In [4]:
train_data, test_data = train_test_split(book_ratings, test_size=0.20)

In [5]:
train_data_pivot = train_data.pivot(index='ISBN', columns='User_ID', values='Book_Rating').fillna(0)
train_data_matrix = csr_matrix(train_data_pivot.values)

In [6]:
test_data_pivot = test_data.pivot(index='ISBN', columns='User_ID', values='Book_Rating').fillna(0)

In [7]:
knn = NearestNeighbors(metric='cosine', algorithm='brute')
knn.fit(train_data_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [13]:
len(test_data_pivot.iloc[12, :].values.reshape(1, -1)[0])

2690

In [14]:
len(train_data_pivot.iloc[12, :].values.reshape(1, -1)[0])

2937

In [20]:
distance, indices = knn.kneighbors(train_data_pivot.iloc[152, :].values.reshape(1, -1), n_neighbors= 10)

for i in range(len(distance.flatten())):
    if i == 0:
        print("recom for {0}:\n".format(train_data_pivot.index[12]))
    else:
        print("{0}: {1}, with distance of {2}".format(i, train_data_pivot.index[indices.flatten()[i]], round(distance.flatten()[i], 2)))

recom for 12:

1: 154, with distance of 0.29
2: 151, with distance of 0.44
3: 2088, with distance of 0.67
4: 1808, with distance of 0.67
5: 105, with distance of 0.67
6: 150, with distance of 0.7
7: 86, with distance of 0.73
8: 149, with distance of 0.73
9: 97, with distance of 0.74