In [3]:
import pandas as pd

### Reading the dataset which was preprocessed

In [8]:
book_ratings = pd.read_csv('preprocessed_ratings.csv')
books = book_ratings.filter(['Book_Title' , 'Book_Author', 'Year_Of_Publication','Publisher', 'Book_Rating']).copy()
books = books.drop_duplicates(subset='Book_Title', keep='first')

In [9]:
books.head()

,Book_Title,Book_Author,Year_Of_Publication,Publisher,Book_Rating
0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,0
1,The Lovely Bones: A Novel,Alice Sebold,2002,"Little, Brown",0
2,The Da Vinci Code,Dan Brown,2003,Doubleday,0
3,Wild Animus,Rich Shapero,2004,Too Far,0
4,Four To Score (A Stephanie Plum Novel),Janet Evanovich,1999,St. Martin's Paperbacks,0

### Split the dataset into train and test

In [10]:
def splitter(dataset):
    
    dataset = dataset.sort_values('Book_Rating', ascending=False)

    test_range = round(len(dataset) * 0.2)
    test_data = books.iloc[:test_range]
    train_data = books.iloc[test_range:]
    
    return train_data, test_data

In [11]:
train_data, test_data = splitter(books)
len(train_data), len(test_data)

(1530, 383)

In [12]:
train_data.to_csv('train_data.csv', index=False)
test_data.to_csv('test_data.csv', index=False)